In [2]:
import pandas as pd
import numpy as np

In [3]:
start_date = '2017-01-01 00:00:00'
end_date = '2023-12-31 23:00:00'
index = pd.date_range(start=start_date, end=end_date, freq='h')
data = np.random.uniform(low=50, high=100, size=len(index))
hourly_prices = pd.Series(data=data, index=index)

In [4]:
hourly_prices

2017-01-01 00:00:00    71.564299
2017-01-01 01:00:00    73.462147
2017-01-01 02:00:00    95.139520
2017-01-01 03:00:00    78.593865
2017-01-01 04:00:00    61.025971
                         ...
2023-12-31 19:00:00    96.089959
2023-12-31 20:00:00    69.997726
2023-12-31 21:00:00    81.194113
2023-12-31 22:00:00    56.800671
2023-12-31 23:00:00    62.255816
Freq: h, Length: 61344, dtype: float64

In [5]:
hourly_prices.index.dtype

dtype('<M8[ns]')

In [6]:
hourly_prices.index =pd.to_datetime(hourly_prices.index)

In [7]:
hourly_prices

2017-01-01 00:00:00    71.564299
2017-01-01 01:00:00    73.462147
2017-01-01 02:00:00    95.139520
2017-01-01 03:00:00    78.593865
2017-01-01 04:00:00    61.025971
                         ...
2023-12-31 19:00:00    96.089959
2023-12-31 20:00:00    69.997726
2023-12-31 21:00:00    81.194113
2023-12-31 22:00:00    56.800671
2023-12-31 23:00:00    62.255816
Freq: h, Length: 61344, dtype: float64

In [8]:
condition = hourly_prices > 90
condition.sum()

np.int64(12186)

In [9]:
condition_2021 = hourly_prices[hourly_prices.index.year == 2021]
print(condition_2021.max())

99.99884012333081

In [10]:
daily_prices = hourly_prices.copy()

In [11]:
daily_prices_avg = daily_prices.resample("D").mean()
daily_prices_avg

2017-01-01    75.897354
2017-01-02    73.069458
2017-01-03    68.557183
2017-01-04    72.563070
2017-01-05    75.178111
                ...
2023-12-27    74.938724
2023-12-28    72.999471
2023-12-29    71.465818
2023-12-30    72.158135
2023-12-31    77.582351
Freq: D, Length: 2556, dtype: float64

In [12]:
min_d = daily_prices_avg.min()
min_d

np.float64(66.7347283202343)

In [13]:
monthly_price_avg = hourly_prices.resample("ME").mean()

In [14]:
per_year = monthly_price_avg.groupby(monthly_price_avg.index.year).mean()
per_year

2017    74.756990
2018    75.028740
2019    74.825368
2020    75.091269
2021    74.868315
2022    75.295876
2023    75.124918
dtype: float64

In [16]:
grouped = monthly_price_avg.groupby(
    [monthly_price_avg.index.year, monthly_price_avg.index.month]
).mean()

In [17]:
df = grouped.unstack(level=0)

In [18]:
df.index.name = "Month"
df.columns.name = "Year"

In [19]:
df

Year,2017,2018,2019,2020,2021,2022,2023
Month,,,,,,,
1,74.273782,75.018268,74.395866,76.147759,74.417075,74.828525,74.581572
2,74.040871,75.092630,74.831122,75.787286,74.930092,76.176120,76.341199
3,74.892907,75.083805,74.212066,74.812602,74.880598,75.039859,75.355449
4,74.994859,74.943758,74.980654,74.890606,75.221692,75.121046,74.826037
5,74.845263,75.597835,76.103330,74.939696,74.097382,74.734015,75.942188
6,74.659556,75.488791,74.554442,74.180452,75.622591,75.395225,75.672150
7,73.903526,74.838071,74.286531,75.859923,75.521319,75.369404,74.414003
8,75.427116,75.889902,74.225846,74.490149,73.795253,74.994673,74.839701
9,74.627092,74.536303,74.837582,74.865543,75.450074,75.544719,74.937439
10,74.628692,74.124866,75.534851,75.630251,75.353569,75.917239,75.060356
11,75.317648,74.881127,74.588827,74.337787,74.620893,74.850967,74.449374
12,75.472568,74.849526,75.353294,75.153175,74.509239,75.578723,75.079545